* {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

ion-content {
  --background: linear-gradient(180deg, #6900d1 10%, #9346ff 100%);
}

ion-title {
  text-align: center;
}

.bg-img2 {
  background-color: #f8e8fc;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  /* min-width: fit-content; */
  /* width: 90vw; */
  /* max-width: 600px; */
  position: relative;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
  --ion-item-background: #f8e8fc !important;
}

ion-col {
  background-color: #f8e8fc;
}

ion-row {
  background-color: #f8e8fc;
}

input:-webkit-autofill:-webkit-autofill {
  box-shadow: 0 0 0 30px #edc5ff inset !important;
  -webkit-text-fill-color: rgba(70, 90, 126);
  height: 56px;
  border-radius: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-border {
  border: solid 1px #c5c5c5;
  border-radius: 10px;
  height: 56px;
  background-color: #fcf5ff;
}

.nice-btn {
  --border-radius: 10px;
  --color: #ffffff;
}

.center1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 32px);
}

.center-gamepage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100%);
}

hr {
  border: 0px solid #c5c5c5 !important;
  height: 1px !important;
  width: 85% !important;
  background: #c5c5c5 !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.no-padding {
  padding: 0;
}

.select-wide {
  width: 100%;
  --placeholder-opacity: 1 !important;
  color: black;
}

.btn-send {
  margin-bottom: 10px;
  width: 100%;
}

.btns-top {
  margin-top: 0px;
  margin-bottom: 0;
  width: 98%;
}

.no-space {
  margin: 0 !important;
  padding: 0 !important;
}

.select-border {
  border: solid 1px #c5c5c5;
  border-radius: 10px;
  margin-top: 10px;
  /* height: 56px; */
  background-color: #fcf5ff;
}

ion-popover {
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --width: 85%;
}

ion-popover ion-list {
  background-color: #f8e8fc !important; 
}

.bottom{
  position: absolute !important;
  z-index: 0 !important;
}

.top{
  position: absolute !important;
  z-index: 99 !important;
}

.vacp-copy-button {
  display: none !important;
}

.vacp-color-picker {
  background-color: #f8e8fc !important;
}

.size100 {
  width: 100%; 
  height: 100%;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%; 
}

.h95 {
  height: 95%;
}

.btn-rotate {
  width: 100%; 
  height: 91%; 
  font-size: 300%; 
  transform: rotate(180deg);
}

.btn-non-rotate {
  width: 100%; 
  height: 91%; 
  font-size: 300%; 
}

.size45 {
  width: 100%; 
  height: 45%;
}

.h80 {
  height: 80%;
}